@import url(../../res/fonts/causten.scss);
@import url(../../res/fonts/kilburn.scss);
$font-mon: 'Montserrat', sans-serif;
$font-kil: 'KilburnW01-Thin', sans-serif;
$font-cau: 'Causten', sans-serif;

*{
  box-sizing: border-box;
}

html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
  padding: 0;
  margin: 0;
}
ul{
  list-style-type: none;
}
button{
  border: none;
  background: transparent;
}

body.black{
  --gray-white-color: #FFFFFF;
  --white-white-color: #FFFFFF;
  --main-bg-color: #17162A;
  --gray-gray-color: #7B7791;
  
  --transprentGray-transprentWhite-color: rgba(255, 255, 255, 0.2);
}

body{
  --gray-white-color: #7B7791;
  --white-white-color: #FFFFFF;
  --main-bg-color: #FFFFFF;
  --gray-gray-color: #7B7791;
  --transprentGray-color: rgba(123, 119, 145, 0.2);
  --transprentGrayX-color: rgba(123, 119, 145, 0.1);
  
  --primary-dark-color: #000000;
  --primary-accent-color: #D03EB7;
  --secondary-color: #865EEA;
  --main-gradient: linear-gradient(90deg, #854ACF, #CE5CB4);
  --transprentMain-gradient: linear-gradient(90deg, rgba(133, 74, 207, 0.2), rgba(206, 92, 180, 0.2));
  --transprentGray-transprentWhite-color: rgba(123, 119, 145, 0.2);
}

body{
  background-color: var(--main-bg-color);
}

.wrapper{ 
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1236px;
  padding: 0 20px;
  width: 100%;
}

.container{
  margin: 0 auto;
  max-width: 1236px;
  padding: 0 20px;
  width: 100%;
}

.gradient-text{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background: var(--main-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &.graph{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
}

.header{
  height: 140px;
  width: 100%;
  .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_navigation{
    margin-left: 11%;
    flex-grow: 1;

    display: flex;
    align-items: center;
    
    ul{
      margin-top: -6px;
      li{
        display: inline-block;
      }
    }
    
    &_link{
      margin-top: -15px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font-mon;
      font-weight: 600;
      font-size: 14px;
      color: var(--gray-white-color);
      margin-right: 24px;
      
      &.active{
        position: relative;
        &::before{
          content: "";
          position: absolute;
          bottom: - 8px;

          width: 100%;
          height: 1px;
          background: var(--main-gradient);
        }
      }

    }
  }
  &_controls{
    display: flex;
    align-items: center;
    &_secondary-btn{
      margin: 0 10px;
    }
    &_theme-switcher{
      margin-right: 30px;
    }
  }
}

.language-switcher{
  margin-left: 10px;
  padding: 10px 4px;
  border-radius: 10px;
  background-color: var(--main-bg-color);

  font-family: $font-mon;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;

  color: var(--gray-white-color);

  display: flex;
  align-items: center;

  &_icon{
    height: 18px;
    width: 18px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    margin-right: 8px;
  }
  .dropdown-indicator{
    margin-left: 8px;
  }
}

.dropdown-indicator{
  width: 12px;
  height: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before{
    content: "";
    position: absolute;
    background-color: var(--gray-white-color);
    width: 2px;
    height: 6px;
    border-radius: 2px;
    transform: translateX(100%) rotate(50deg);
  }
  &::after{
    content: "";
    position: absolute;
    background-color: var(--gray-white-color);
    width: 2px;
    height: 6px;
    border-radius: 2px;
    transform: translateX(-50%) rotate(-50deg);
  }
}

.primary-btn{
  display: inline-block;
  padding: 10px 18px;
  height: 36px;
  
  font-family: $font-mon;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;

  color: var(--white-white-color);
  background: var(--main-gradient);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(37, 69, 181, 0.25);
  &.big{
    border-radius: 15px;
    height: 50px + 4px;
    text-transform: uppercase;
    padding: 20px 50px;
    border-bottom: 4px solid var(--secondary-color);
  }
}

.secondary-btn{
  display: inline-flex;
  align-items: center;
  padding: 10px 12px;

  height: 36px;

  font-family: $font-mon;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;

  color: var(--gray-white-color);
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  border-radius: 10px;
  img{
    margin-right: 5px;
  }
  &.big{
    border-radius: 15px;
    height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 18px 25px;
    font-size: 14px;
    line-height: 17px;
    
  }
}

.circle-btn{
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  background-color: transparent;
  &.slider{
    width: 26px;
    height: 26px;
    margin-left: 4px;
  }
  &.secondary{
    border: 1px solid var(--transprentGray-color);
  }
}

.header-text{
  font-family: $font-mon;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--secondary-color);
}

.secondary-header-text{
  font-family: $font-mon;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--gray-white-color);
}

.second-heading{
  font-family: $font-cau;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  
  background: var(--main-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::before{
    content: "";
    position: relative;
    height: 20px;
    margin-right: 10px;
    padding-right: 2px;
    background: linear-gradient(90deg, var(--secondary-color), var(--primary-accent-color));
  }

  &.big{
    font-family: $font-mon;
  }
}
.default-paragraph{
  font-family: $font-mon;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--gray-white-color);
  
  margin: 7px 0;
  &.space {
    margin-left: 12px;
  }
  &.graph{
    font-size: 14px;
    margin: 20px 0;
    b{
      font-weight: 700;
    }
  }
  &.graph-desc{
    font-family: $font-mon;
    font-size: 12px;
    font-weight: 400;
  }
}

.section{
  padding: 40px 0;
}

#tesla-token{
  .container{
    display: flex;
  }

  .main-info{
    width: calc(100% / 10 * 3 + 20px);
    &_round{
      margin-top: 25px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .round-info{
        text-transform: uppercase;
        font-family: $font-mon;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: var(--secondary-color);
      }
      .course-table{
        width: calc(100% - 14px);
        align-self: flex-start;
        margin-top: 15px;
        &_top{
          border-radius: 10px 10px 0 0;
          border: 1px solid var(--transprentGray-color);
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          .timer{
            &_number{
              &:last-child{
                &::before{
                  display: none;
                }
              }
              &::before{
                content: "";
                position: absolute;
                width: 1px;
                height: 50%;
                background-color: var(--transprentGray-color);
                right: 0px;
              }
              position: relative;
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              position: relative;
  
              font-family: $font-kil;
              font-size: 45px;
              line-height: 52px;
              font-weight: 300;
              text-align: center;
              color: var(--gray-white-color);
  
              &::after{
                content: attr(data-undertext);
                position: relative;
                top: 5px;
  
                text-transform: uppercase;
                font-family: $font-mon;
                font-size: 12px;
                line-height: 15px;
                font-weight: 400;
                text-align: center;
                color: var(--gray-white-color);
              }
            }
          }
        }
        &_bottom{
          padding: 14px 22px;
          border: 1px solid var(--transprentGray-color);
          border-top: none;
          border-radius: 0 0 10px 10px;

          display: flex;
          justify-content: space-between;
          .current-course{
            display: flex;
            flex-direction: column;
            &_titler{
              display: flex;
              align-items: center;
            }
            &_title{
              font-family: $font-mon;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;

              color: var(--gray-white-color);
            }
            &_currency{
              text-transform: uppercase;
              font-family: $font-mon;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;

              background: var(--main-gradient);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            &_value{
              font-family: $font-kil;
              font-weight: 300;
              font-style: normal;
              font-size: 45px;
              line-height: 52px;
              color: var(--gray-white-color);
              &::before{
                content: "$";
                position: relative;
                font-family: $font-mon;
                font-weight: 500;
                font-style: normal;
                font-size: 18px;
                color: var(--secondary-color);
              }
            }
          }
          .graph{
            width: 160px;
            height: 85px;
            margin-right: 20px;
            #courseGraph{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    &_slider{
      margin-top: 26px;
      &_top{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &_slider{
        margin-top: 18px;
        width: 100%;
      }
    }
    &_controls{
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 5px);
    }
  }
  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    &_image{
      transform: translate(10px, -18px);
      img{
        width: 100%;
      }
    }
    .contact-us{
      align-self: flex-end;
      &_text{
        font-family: $font-mon;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        color: var(--gray-white-color);
      }
      &_links{
        display: inline-block;
        li{
          display: inline-block;
          padding: 0 15px;
          position: relative;
          &::after{
            content: "";
            position: absolute;
            width: 1px;
            height: 17px;
            background-color: var(--transprentGray-color);
            right: 0px;
          }
          &:last-child{
            &::after{
              display: none;
            }
            padding-right: 0;
          }
        }
      }
    }
  }
}

.custom-gradient-slider{
  -webkit-appearance: none;
  height: 7px;
  background: var(--transprentGray-color);
  outline: none;
  border-radius: 5px;
  &::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: .2s;
    &:hover{
      width: 15px;
      height: 15px;
    }
  }
  
}


#features{
  padding: 45px 0;
  .container{
    display: flex;
    justify-content: space-between;
  }
  .feature{
    width: 100%;
    max-width: 220px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    &_text{
      flex-grow: 1;
      margin-left: 35px;
      font-family: $font-mon;
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      color: var(--gray-white-color);
    }
  }
}



.layer-card{
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  &_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 2;
  }
  &_background{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    
    background-color: var(--primary-accent-color);

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
      height: 100%;
    }

    &::after{
      content: "";
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      
      z-index: 0;
      border-radius: inherit;

      opacity: 0.5;
      background: var(--main-gradient);
    }
  }
 
  &_undercard{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    
    z-index: 0;
    border-radius: inherit;
    
    &:nth-last-child(1){
      transform: translateY(-7%) scale(0.92);
      background: var(--main-gradient);
    }
    &:nth-last-child(2){
      transform: translateY(-14%) scale(0.84);
      background: var(--main-gradient);
      opacity: 0.5;
    }
  }
  
}

#video{
  padding: 96px 0;
  background-size: cover;
  background-position: center;
  .container{
    display: flex;
  }
  .video-container{
    min-width: calc(100% / 10 * 5);
    &_play-container{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;


    }
  }
  .information-container{
    margin-left: calc(100% / 10);
    flex-grow: 1;
    padding-top: 50px;
  }
}

.play-button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  $animation-duration: 1.2s;
  background: var(--white-white-color);
  &::before{
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid var(--white-white-color);
    animation-name: play-circles-animation;
    animation-duration: $animation-duration;
    animation-iteration-count: infinite;
  }
  &::after{
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid var(--white-white-color);
    animation-name: play-circles-animation;
    animation-duration: $animation-duration;
    animation-iteration-count: infinite;
    animation-delay: $animation-duration / 2;
  }
}

@keyframes play-circles-animation {
  0%{
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  100%{
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}


#news{
  padding: 12px 0;
  background-repeat: no-repeat;
  .news-header{
    display: flex;
    justify-content: space-between;
    &_controls{
      display: flex;
    }
  }
  .slider-holder{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    overflow-x: hidden;
    padding-top: 20px;
    &_saver{
      height: inherit;
      min-width: calc(100% / 12 * 1 + 10px);;
    }
  }
  .news{
    margin-top: 44px;
    margin-bottom: 82px;
    .layer-card{
      width: calc(100vw / 12 * 4 - 20px);
      height: 282px;
      margin: 0 10px;
    }
    &_new-content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &_body{
        padding: 27px 38px;
        h3{
          font-family: $font-mon;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: var(--white-white-color);
          margin-bottom: 8px;
        }
        p{
          font-family: $font-mon;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: var(--white-white-color);
        }
      }
      &_bottom{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 38px;
        padding-bottom: 27px;
        .secondary-btn{
          color: var(--white-white-color);
          border-color: var(--white-white-color);
        }
        &_date{
          display: flex;
          align-items: center;
          img{
            margin-right: 7px;
          }
          time{
            font-family: $font-mon;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: var(--white-white-color);
          }
        }
      }
    }
  }
}

.arrow{
  $border-width: 1px;
  $border: $border-width solid var(--gray-gray-color);
  $border-radius: 0;
  
  width: 10px;
  height: $border-width;
  background: var(--gray-gray-color);

  display: flex;
  align-items: center;
  border-radius: $border-radius;
  
  position: relative;
  
  &::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: $border;
    border-left: $border;
    border-radius: $border-radius;
    transform: rotate(-45deg);
  }
  &.left{
    justify-content: flex-start;
    &::before{
      transform: rotate(-45deg);
    }
  }
  &.right{
    justify-content: flex-end;
    &::before{
      transform: rotate(135deg);
    }
  }


  
}

#tesla-graph{
  padding: 22px 0;
  background-position: top right;
  background-repeat: no-repeat;
  .graph-container{
    padding-top: 35px;
    display: flex;
    &_diagram{
      min-width: calc(100% / 10 * 4 - 40px);
      padding-left: 20px;
      margin-right: 50px;
    }
  }

  .graph-desc{
    margin-top: 45px;
  }

  .tesla-information{
    margin-top: 64px;
  }
  .tokentabe{
    margin-top: 30px;
  }
}

.tab-component{
  width: 100%;
  &_header{

    &.center{
      display: flex;
      justify-content: center;
    }

    .tab-btn{
      display: inline-block;
      padding: 9px 18px 12px 19px;
      margin-right: 25px;
      font-family: $font-mon;
      font-size: 12px;
      font-weight: 600;
      line-height: 15px;
      text-align: center;

      color: var(--gray-white-color);
      &:hover{
        cursor: pointer;
        background-color: var(--transprentGray-color);
      }
      &::after{
        content: "";
        position: absolute;
        transition: .5s;
        transition-timing-function: cubic-bezier(.17,.67,0,.99);
        width: 0%;
        left: 0;
        bottom: 0;
        height: 4px;
        background: var(--main-gradient);
      }
      &.active{
        position: relative;
        &::after{
          width: 100%;
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &_body{
    width: 100%;
  }
  .tab{
    width: 100%;
  }
}


.tokentabe{
  width: 100%;
  border: none;
  border-spacing: 0;
  thead{
    th{
      padding: 15px 25px;
      text-align: left;
      font-family: $font-mon;
      font-size: 12px;
      font-weight: 600;
      color: var(--gray-white-color);
    }
  }
  tbody{
    tr{
      background: var(--transprentGray-color);
      &.summ{
        background: transparent;
      }
      &.accent{
        background: var(--transprentMain-gradient);
      }
      td{
        padding: 20px 25px;
        font-family: $font-mon;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: var(--gray-white-color);
      }
      .rowcatcher{
        height: 100%;
        font-weight: 700;
      }
    }
  }
  
  
  .space{
    height: 10px;
  }
}


#roadmap{
  background-repeat: no-repeat;
  padding: 50px 0;
  .roadmap-header{
    margin-bottom: 40px;
  }
  .roadmap-content{
    .timeline{
      margin-top: 35px;
    }
  }
}

.timeline{
  display: flex;
  &_left{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    .timeline_point{
      flex-direction: row-reverse;
      &:first-child{
        margin-top: 50px;
      }
      .prepoint{
        flex-direction: row-reverse;
      }
      .content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 10px;
        *{
          text-align: right;
        }
      }
    }
  }
  &_progress{
    // justify-self: center;
    .line{
      min-width: 7px;
      height: 100%;
      background-color: var(--transprentGray-transprentWhite-color);
      border-radius: 50px;
    }
    .progress{
      border-radius: 50px;
      background: linear-gradient(180deg, var(--secondary-color), var(--primary-accent-color));
    }
  }
  &_right{
    flex-grow: 1;
    flex-basis: 0;
    // justify-self: flex-start;
  }

  &_point{
    display: flex;
    margin-bottom: 50px;
    &:hover{
      .prepoint{
        .circle{
          &::before{
            width: 13px;
            height: 13px;
            opacity: 0.5;
          }
          &::after{
            width: 19px;
            height: 19px;
            opacity: 0.3;
          }
        }
      }
    }

    .prepoint{
      display: flex;
      align-items: center;
      align-self: flex-start;
      margin-top: 6px;
      .line{
        height: 1px;
        width: 47px;
        background-color: var(--secondary-color);
        opacity: 0.2;
      }
      .circle{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.5px;
        height: 8.5px;
        border-radius: 50%;
        border: 1.5px solid var(--secondary-color);
        opacity: 0.6;
        &::before{
          content: "";
          position: absolute;
          width: 8.5px;
          height: 8.5px;
          border-radius: 50%;
          border: 1px solid var(--secondary-color);
          transition: .3s;
          opacity: 0;
        }
        &::after{
          content: "";
          position: absolute;
          width: 8.5px;
          height: 8.5px;
          border-radius: 50%;
          border: 1px solid var(--secondary-color);
          transition: .4s;
          opacity: 0;
        }
        &:hover{
          &::before{
            width: 13px;
            height: 13px;
            opacity: 0.5;
          }
          &::after{
            width: 19px;
            height: 19px;
            opacity: 0.3;
          }
        }
      }
    }
    .content{
      margin-left: 10px;
      .graph{
        margin: 0;
      }
    }
  }
}


#mobile-app{
  margin: 70px 0;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-position: top right;
  .container{
    display: flex;
  }
  .mobile-banner{
    width: calc(100% / 10 * 6 - 40px);
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &_phone{
      position: absolute;
    }
    &_background{
      position: relative;
      img{
        width: 100%;
      }
    }
  }
  .app-description{
    width: calc(100% / 10 * 4);
    .app-links{
      margin-top: 40px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      .stores{
        margin-left: 40px;
        a{
          display: block;
          margin-bottom: 10px;
        }
      }
    }
  }
}

#partners{
  padding: 40px 0;
  background-repeat: no-repeat;
  .container{
    display: flex;
  }
  .slider-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &_controls{
      display: flex;
    }
  }
  .slider-holder{
    width: 100%;
    overflow: hidden;
    display: flex;
    .slide{
      padding: 70px 0;
      width: calc(100% / 10 * 2 - 20px);
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
  }
}


#team{
  .team{
    &_leadership{
      display: flex;
      justify-content: center;
      margin: 40px 0;
      .team_person{
        display: flex;
        width: calc(100% / 10 * 3 - 20px);
        margin-left: 10px;
        margin-right: 10px;
        .photo{
          $height: 130px;
          $width: $height;

          min-width: $width;
          min-height: $height;
          max-width: $width;
          max-height: $height;
          width: $width;
          height: $height;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            height: 100%;
          }
          &.vert{
            img{
              width: 100%;
              height: auto;
            }
          }
        }
        .info{
          margin-left: 20px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .links{
            margin-bottom: 12px;
            a{
              img{
                height: 18px;
              }
            }
          }
          .name{
            height: 2em;
            margin-bottom: 5px;
            *{
              line-height: 1.25em;
              text-transform: uppercase;
            }
          }
          .description{
            p{
              margin: 0;
            }
          }
        }
      }
      
    }
  }

  .team-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    .team_person{
      align-self: center;
      justify-self: center;
      display: flex;
      flex-direction: column;
      
      &:last-child{
        margin-right: 10px;
      }
      .description{
        width: 100%;
        p{
          margin: 0;
        }
      }
      .top{
        display: flex;
        .photo{
          $height: 65px;
          $width: $height;
  
          min-width: $width;
          min-height: $height;
          max-width: $width;
          max-height: $height;
          width: $width;
          height: $height;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            height: 100%;
          }
          &.vert{
            img{
              width: 100%;
              height: auto;
            }
          }
        }
        .info{
          margin-left: 20px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .links{
            margin-bottom: 12px;
            a{
              img{
                height: 18px;
              }
            }
          }
          .name{
            height: 2em;
            margin-bottom: 5px;
            *{
              line-height: 1.25em;
              text-transform: uppercase;
            }
          }
        }
      }
      
    }
  }
}

#footer{
  background-repeat: no-repeat;
  padding: 90px 0;
  .container{
    display: flex;
  }

  .subscribe{
    width: calc(100% / 10 * 3);
    margin-right: calc(100% / 10 * 3);
    .logo{
      margin-bottom: 40px;
      img{
        min-width: 100px;
      }
    }
    .form{
      .required{
        margin-top: 20px;
      }
    }
    .copyright{
      display: block;
      font-family: $font-mon;
      font-size: 12px;
      font-weight: 400;
      line-height: 21px;
      margin-top: 60px;
    }
  }

  .links{
    flex-grow: 1;
    &_top{
      display: flex;
      justify-content: space-between;
    }
    .footer-nav{
      ul{
        li{
          margin-bottom: 20px;
          a{
            font-family: $font-mon;
            font-size: 12px;
            font-weight: 400;
            line-height: 21px;
            color: var(--gray-white-color);
            text-decoration: none;
          }
        }
      }
    }
    &_bottom{
      display: flex;
      justify-content: flex-end;
      .circle-btn{
        margin-right: 9px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

}

.sub-form{
  label{
    display: block;
    font-family: $font-mon;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    margin-bottom: 10px;
    color: var(--gray-white-color);
  }
  input[type=text]{
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
    background: var(--transprentGray-color);
    color: var(--gray-white-color);
    font-family: $font-mon;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }
  input[type=submit]{
    position: absolute;
    transform: translateX(-100%);
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
    box-shadow: 0px 4px 8px rgb(37 69 181 / 25%);
    background: var(--main-gradient);
    color: var(--white-white-color);
    font-family: $font-mon;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }
}