$font-mon: 'Montserrat', sans-serif;

*{
  box-sizing: border-box;
}

html,
body,
ul{
  padding: 0;
  margin: 0;
}
ul{
  list-style-type: none;
}
button{
  border: none;
}

body.black{
  --gray-white-color: #FFFFFF;
}

body{
  --main-bg-color: #FFFFFF;
  --secondary-dark-color: #7B7791;
  --primary-dark-color: #000000;
  --primary-accent-color: #D03EB7;
  --secondary-color: #865EEA;
  --main-gradient: linear-gradient(90deg, #854ACF, #CE5CB4);

  --gray-white-color: #7B7791;
}

body{
  background-color: var(--test-color);
}

.wrapper{ 
  margin: 0 auto;
  height: 100vh;
  max-width: 1236px;
  padding: 0 20px;
  width: 100%;
}

.header{
  height: 140px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  &_logo{
    
  }
  &_navigation{
    margin-left: 11%;
    flex-grow: 1;

    display: flex;
    align-items: center;
    
    ul{
      margin-top: -6px;
    }

    &_link{
      margin-top: -15px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font-mon;
      font-weight: 600;
      font-size: 14px;
      color: var(--secondary-dark-color);
      margin-right: 24px;
      
      &.active{
        position: relative;
        &::before{
          content: "";
          position: absolute;
          bottom: - 8px;

          width: 100%;
          height: 1px;
          background: var(--main-gradient);
        }
      }

    }
  }
  &_controls{
    display: flex;
    align-items: center;
    &_secondary-btn{
      margin: 0 10px;
    }
    &_theme-switcher{
      margin-right: 30px;
    }
  }
}

.language-switcher{
  margin-left: 10px;
  padding: 10px 4px;
  border-radius: 10px;
  background-color: var(--main-bg-color);

  font-family: $font-mon;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;

  color: var(--secondary-dark-color);

  display: flex;
  align-items: center;

  &_icon{
    height: 18px;
    width: 18px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    margin-right: 8px;
  }
  .dropdown-indicator{
    margin-left: 8px;
  }
}

.dropdown-indicator{
  width: 12px;
  height: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before{
    content: "";
    position: absolute;
    background-color: var(--secondary-dark-color);
    width: 2px;
    height: 6px;
    border-radius: 2px;
    transform: translateX(100%) rotate(50deg);
  }
  &::after{
    content: "";
    position: absolute;
    background-color: var(--secondary-dark-color);
    width: 2px;
    height: 6px;
    border-radius: 2px;
    transform: translateX(-50%) rotate(-50deg);
  }
}

.primary-btn{
  padding: 10px 18px;
  
  height: 36px;

  font-family: $font-mon;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  color: var(--main-bg-color);
  background: var(--main-gradient);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(37, 69, 181, 0.25);
}

.secondary-btn{
  display: flex;
  align-items: center;
  padding: 10px 12px;

  height: 36px;

  font-family: $font-mon;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  color: var(--secondary-dark-color);
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  border-radius: 10px;
  img{
    margin-right: 5px;
  }
}

.circle-btn{
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  background-color: transparent;
}